/* ! Base Style */
body {
    font-family:'Quicksand', sans-serif;
    font-size: 16px;
    background-color: #E5EAEC;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, p {
    color: #121113;
    padding-bottom: 30px;
}
p {line-height: 30px; color: #000;font-weight: 300;}
.big-text {font-size: 70px; font-weight: bold;}
.med-text {font-size: 40px;}
.normal-text {font-size: 20px;}
.small-text {font-size: 14px;}
.intro-text {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}
.button {
    padding: 18px 28px;
    background: #222725;
    color: #fff;
    display: inline-block;
    border-radius: 4px;
}
@media (max-width: 768px) {
    .big-text {font-size: 55px;}
}

/* ! Header */
.header {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 30px;
    display: flex;
    max-width: 1350px;
    align-items: center;
    text-align: center;
    background-color: #E5EAEC;
}
.logo {
    z-index: 1;
}
.menu {
    width: 100%;
    z-index: 0;
}
.menu {
    transition: all 1s cubic-bezier(0.215, 0.610, 0.355, 1);
    width: 100%;
    z-index: 0;
}
.menu li {display: inline-block;}
.menu li a {color: #121113; padding: 15px; display: block;}
.wrapper {display: none;}

@media (max-width: 768px) {
    .cta {display: none;}
    .menu {
        position: absolute; 
        top: 0; 
        right: -100%; 
        background: #b4b8ab;
        height: 100vh;
        padding-top: 80px;
    }
    .menu li {display: block;}
    .menu li a {padding: 15px 30px; font-size: 20px; color: #222725; font-weight: bold;}
    .menu--open {right: 0;}

    .wrapper {
        display: block;
        position: absolute;
        top: 40px;
        right: 30px;
        transform: translate(-50%, -50%);
    }
    .nav {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 0px;
        background-color: transparent;
        border-style: none;
        outline: none;
        cursor: pointer;
    }
    .nav span {
        width: 100%;
        height: 5px;
        background: #30343f;
        display: block;
        position: absolute;
        border-radius: 2px;
        transition: all .5s ease;
    }
    .nav span:nth-child(1){
        top: 0px;
        left: 0px;
    }
    .nav span:nth-child(2){
        top: 10px;
        right: 0px;
    }
    .nav span:nth-child(3){
        top: 20px;
        left: 0px;
    }
    .nav.open span:nth-child(2){
        animation: span2 1.5s forwards
        cubic-bezier(.8, .5, .2, 1.4);
    }
    @keyframes span2 {
        0% {
            transform: translate(0,0) scale(1);
        }
        20% {
            width: 5px;
            border-radius: 50%;
            transform: translate(0,0) scale(1);
        }
        40% {
            width: 5px;
            border-radius: 50%;
            transform: translate(0,0) scale(1);
        }
        50% {
            width: 5px;
            border-radius: 50%;
            transform: translate(0,8.4375px) scale(1);
        }
        80% {
            width: 5px;
            border-radius: 50%;
            transform: translate(0,-7.5px) scale(1);
        }
        100% {
            width: 5px;
            border-radius: 50%;
            transform: translate(0,64.875px) scale(0);
        }
    }
    .nav.open span:nth-child(3){
        animation: span3 .8s forwards
        cubic-bezier(.8, .5, .2, 1.4);
        animation-delay: .7s;
    }
    @keyframes span3{
        0% {
            transform: translate(0,0);
        }
        60% {
            transform: rotate(80deg)
            translate(-3.23076923px, -3.23076923px);
        }
        100% {
            transform: rotate(45deg)
            translate(-3.23076923px, -3.230769233px);
        }
    }
    .nav.open span:nth-child(1){
        animation: span1 .8s forwards
        cubic-bezier(.8, .5, .2, 1.4);
        animation-delay: 1.1s;
    }
    @keyframes span1 {
        0% {
            transform: translate(0,0);
        }
        60% {
            transform: rotate(-110deg)
            translate(-3.23076923px, -3.23076923px);
        }
        100% {
            transform: rotate(-45deg)
            translate(-9.375px, 9.375px);
        }
    }
    .nav span:nth-child(1){
        animation: span1_close .8s forwards
        cubic-bezier(.8, .5, .2, 1.4);
    }
    @keyframes span1_close {
        0% {
            transform: rotate(-45deg)
            translate(-9.375px, 9.375px);
        }
        100% {
            transform: rotate(0deg)
            translate(0,0);
        }
    }
    .nav span:nth-child(2){
        animation: span2_close .8s forwards
        cubic-bezier(.8, .5, .2, 1.4);
    }
    @keyframes span2_close {
        0% {
            transform: translate(0,18.75px)
            scale(0);
        }
        100% {
            transform: translate(0,0)
            scale(1);
        }
    }
    .nav span:nth-child(3){
        animation: span3_close .8s forwards
        cubic-bezier(.8, .5, .2, 1.4);
    }
    @keyframes span3_close {
        0% {
            transform: rotate(45deg)
            translate(-3.23076923px, -3.23076923px);
        }
        100% {
            transform: rotate(0deg)
            translate(0,0);
        }
    }
}

/* ! Hero */
.hero {
    position: relative;
    height: 100vh;
    display: flex; width: 100%; align-items: center;
    background-size: cover;
    padding: 30px;
}
.hero__content {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    z-index: 1;
    position: relative;
    text-align: center;
}

/* ! Poster */
.poster {
    padding: 50px;
    text-align: center;
    width: 100%;
}
.poster__content {
    display: flex;
    justify-content: space-around;
    padding: 30px;
    width: 100%;
    max-width: 1350px;
}

@media (max-width: 768px) {
    .poster {flex-wrap: wrap; height: auto; }
    .poster__content {width: 100%; flex-wrap: wrap; align-items: center;}
}

/* ! BG Cover */
.bg-cover {
    display: flex;
    padding: 100px 0;
    background-size: cover;
}

.bg-cover__text {width: 50%; padding: 30px;}
.bg-cover__title {width: 50%; padding: 50px;display: flex;align-items: center;}

@media (max-width: 768px) {
    .bg-cover {flex-wrap: wrap; height: auto;}
    .bg-cover__text,
    .bg-cover__title {width: 100%;}
}

/* ! Footer */
.footer {
    background: #b4b8ab;
}
.col {
    padding: 50px;
}

/* ! Helpers */
.mt-1 {margin-top: 50px;}
.mt-2 {margin-top: 100px;}
.mt-3 {margin-top: 150px;}

.b-m {text-align: center; font-size: 30px; font-weight: bold;}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}
